#rvcanvas {
    z-index: -1;
    width: 100%;
}

#refresh {
    position: absolute;
    top: 0px;
    left: 0px;
}
#help {
    position: absolute;
    top: 0px;
    right: 0px;
}

#hands {
    text-align: center;
}

button {
    font-family: monospace;
    font-size: 200%;
}

button.claw {
    background-color: yellow;
}

button.noclaw {
}

.hand1rule {
    display: inline-block;
    width: 4em;
    text-align: right;
    background-color: white;
}
.hand1rule img {
    height: 1em;
    width: 1em;
}
